@charset "UTF-8";
@import url(../css/iconos.css);
/* Comentarios acerca del CSS
- Todas las etiquetas están ordenadas por orden alfabético
*/
body {
  margin: 0;
  background-color: #F4F4F4; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 1.8em; }

.logo {
  background-color: red;
  display: flex;
  justify-content: space-between; }
  .logo img {
    max-height: 100px;
    max-width: 300px; }
  .logo a {
    align-self: center;
    margin-left: 2em; }

.partederecha {
  align-self: center;
  margin-right: 2em; }

.menu {
  background-color: white;
  display: flex; }
  .menu ul {
    margin: 0px; }
  .menu a {
    padding: 1em; }
    .menu a:hover {
      border: 1px black;
      border-radius: 10px;
      background-color: red;
      padding: 1em; }
  .menu li {
    display: inline-block;
    margin: 1em 0em; }

a {
  text-decoration: none;
  font-size: 1em; }

section {
  display: flex;
  flex-direction: column;
  width: 60%; }
  section h2 {
    font-weight: normal;
    align-self: center; }
  section img:first-child {
    width: 100%; }
  section img:last-child {
    max-width: 300px; }
  section h3 {
    padding-top: 1em;
    margin: 0.5em 1em; }
  section p {
    font-size: 1.4em;
    overflow-wrap: break-word;
    margin: 0.5em 1em; }
  section a {
    text-align: center; }
  section .contactar {
    align-self: center; }

.cuadro {
  background-color: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-self: center; }

.principal {
  display: flex;
  width: 90%;
  margin: 0 auto; }

aside {
  align-self: center;
  width: 40%; }
  aside video {
    width: 100%; }

@media (max-width: 600px) {
  h3 {
    overflow-wrap: break-word; }
  .principal {
    flex-direction: column; }
  section {
    width: 95%;
    margin: 0px; }
  .cuadro {
    width: 100%; }
  video {
    align-self: center; }
  aside {
    width: 100%; } }
